extends base.pug

block content
  h2 #{hotel.name}
    small


  .media
    .media-body
      h3= hotel.address
      h4 #{hotel.city}, #{hotel.state} #{hotel.zip}

      h5 Rooms:  #{hotel.rooms||'unknown'}
      p= hotel.description

  .btn-group
    a(href=`/hotels/${hotel.id}/edit`, class='btn btn-primary btn-sm')
      i.glyphicon.glyphicon-edit
      span  Edit book
    a(href=`/hotels/${hotel.id}/delete`, class='btn btn-danger btn-sm')
      i.glyphicon.glyphicon-trash
      span  Delete book