extends base.pug

block content
  h1 #{hotel.name}
  
  .media
    .media-body
      h3= hotel.address
      h4 #{hotel.city}, #{hotel.state} #{hotel.zip}
      h5 Rooms:  #{hotel.rooms}

  p(class='text-danger' style="font-size:160%;") #{message}